<div class="container">
    <h2>Your Cart</h2>
    <div *ngIf="cartItems.length === 0">Cart is empty</div>
    <div class="container" *ngFor="let item of cartItems; let i = index">
      <div class="col-md-4 col-sm-6 mb-3">
        <div class="" style="width: 100rem; display: flex; ">
          <input type="checkbox" [(ngModel)]="item.selected" name="item-{{i}}">
          <img [src]="item.img" class="" alt="{{ item.name }}" height="200px" width="30%" margin-right="20px"> >
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">Price: {{ item.price }}</p>
            <p class="card-text">{{ item.detail }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <div class="quantity-container d-flex" style="align-items: center; gap: 10px;">
              <button (click)="updateQuantity(false)" style="width: 30px; height: 30px; font-size: 20px;">-</button>
              <input type="number" [(ngModel)]="quantity" min="1" [max]="item.quantity" style="width: 50px; text-align: center; font-size: 20px;">
              <button (click)="updateQuantity(true)" style="width: 30px; height: 30px; font-size: 20px;">+</button>
          </div>
            <button class="btn btn-danger" (click)="removeItem(i)">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-warning" *ngIf="cartItems.length" (click)="clearCart()">Clear Cart</button>
    <button *ngIf="cartItems.length != 0" (click)="openCheckoutModal()">Proceed to Checkout</button>
  </div>
  <div *ngIf="cartItems.length !== 0" class="container">
    <app-checkout
    *ngIf="showModal"
    [selectedItems] ="selected_items"
    (closeModal)="closeCheckoutModal()"
    ></app-checkout>
  </div>
  

  