<div class="container">
  <footer class="row justify-content-evenly py-5 my-5 border-top">

    <!-- Branding and Social -->
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <a routerLink="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img src="assests/Manify.svg" alt="Manify Logo" width="120" height="100" class="me-2">
      </a>
      <p class="text-muted">© 2025 Manify. All rights reserved.</p>
    </div>

    <!-- Contact Us -->
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <h5>Contact Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">📞 +92 300 1234567</li>
        <li class="nav-item mb-2">✉️ support.com</li>
        <li class="nav-item mb-2">📍 Karachi, Pakistan</li>
        <li class="nav-item mb-2">📅 Mon - Fri: 9am - 6pm</li>
      </ul>
    </div>

    <!-- Quick Links -->
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <h5>Quick Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="about" class="nav-link p-0 text-muted">About</a></li>
        <li class="nav-item mb-2"><a href="contact" class="nav-link p-0 text-muted">Contact Us</a></li>
      </ul>
    </div>

  </footer>
</div>
