<div class="main">
    <div
      class="sidenav" 
    >

      <ul >
        <li><a routerLink="products" routerLinkActive="active-link">Products</a></li>
        <li><a routerLink="orders" routerLinkActive="active-link">Orders</a></li>
        <li><a routerLink="reviews" routerLinkActive="active-link">Reviews</a></li>
        <li><a routerLink="reviews" routerLinkActive="active-link">Reviews</a></li>
        <li><a routerLink="reviews" routerLinkActive="active-link">Reviews</a></li>
        <li><a routerLink="reviews" routerLinkActive="active-link">Reviews</a></li>
      </ul>
    </div>


    <div
      class="content"
    >

        
      <router-outlet></router-outlet>
    </div>
    </div>