<div class="main">
    <div
      class="sidenav" 
    >

      <ul >
        <li><a routerLink="products" routerLinkActive="active-link">Suits</a></li>
        <li><a routerLink="orders" routerLinkActive="active-link">Pants</a></li>
        <li><a routerLink="reviews" routerLinkActive="active-link">Shirts</a></li>
        <li><a routerLink="reviews" routerLinkActive="active-link">Shoes</a></li>
        <li><a routerLink="reviews" routerLinkActive="active-link">Watches</a></li>
        <li><a routerLink="reviews" routerLinkActive="active-link">trouser</a></li>
      </ul>
    </div>


    <div
      class="content"
    >

        
      <router-outlet></router-outlet>
    </div>
    </div>