.product-form {
  background-color: #ffffff;
  border-radius: 12px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-image {
  max-height: 40%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}
