<div class="container"  style="display: flex; flex-wrap: wrap; overflow: hidden; gap: 30px;">
    <div *ngFor="let product of featuredProducts" routerLinkActive="router-link-active"   style="width: 280px; padding: 5px; border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 15px; height: 400px;">
        <div (click)="viewProduct(product)" style="height: 80%; cursor: pointer; text-align: center; padding: 10px; border-radius: 10px; ">
          <!-- <img  [src]="product.img" alt="{{ product.name }}" style="border-radius: 10px;"> -->
          <img [src]="product.img" alt="{{ product.name }}" style="width: 100%; height: 180px; object-fit: cover; border-radius: 10px;">
          <h4>{{ product.title }}</h4>
          <p>{{ product.detail }}</p>
        </div>
        <div class="d-flex" style="justify-content: space-between; align-items:baseline;">
          <p style="margin-left: 5px; font-size: large;">{{product.price | currency}}<p>
          <!-- <button  (click)="AddToCart(product)" style="background:none; border: none;margin-right: 12px;"><img width="35" height="35" src="https://img.icons8.com/ios-glyphs/30/shopping-cart--v1.png" alt="shopping-cart--v1"/></button> -->
          <button (click)="AddToCart(product)" style="background:none; border: none;margin-right: 12px;">
            <img class="add-cart-btn" width="35" height="35" src="https://img.icons8.com/ios-glyphs/30/shopping-cart--v1.png" alt="shopping-cart--v1"/>
          </button>
        </div>
      </div>
</div>
