<div class="banner">
    <div class="text">
        <h1>Classic winter collection</h1>
        <p>Step into the season with grace and warmth with our <span>Classic Winter Collection</span>, where timeless elegance meets cozy sophistication. Crafted with premium fabrics and designed to exude understated style, each piece is a blend of comfort and class. </p>
        <button (click)="goToShop()" class="btn btn-primary">Shop Now</button>
    </div>
    <div class="pic">
        <img src="assests/Hero.jpg" alt="">
    </div>
</div>