
<!-- Toast Message -->
<div *ngIf="showMessage" class="toast-message">
  {{ message }}
</div>

<!-- Product Cards Container -->
<div class="product-grid row mx-3 my-3">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let item of paginatedProducts">
    <div class="card h-100 shadow-sm product-card" >
      <div class="image-wrapper" (click)="goToProductPage(item)">
        <img
          [src]="item.images[0]"
          alt="Product Image"
          class="card-img-top product-image"
        />
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title" [title]="item.name">{{ item.name }}</h5>
        <p class="card-description">{{ item.description }}</p>
        <p class="card-price">${{ item.price }}</p>
      </div>
      <div class=" mb-2 text-center">
        <button class="btn btn-danger" (click)="delete(item); $event.stopPropagation()" >
            Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<nav class="mt-4 text-center">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="page === 1" (click)="goToPreviousPage()">
      <a class="page-link">Previous</a>
    </li>
    <li
      class="page-item"
      *ngFor="let p of totalPages"
      [class.active]="p === page"
      (click)="page = p">
      <a class="page-link">{{ p }}</a>
    </li>
    <li class="page-item" [class.disabled]="page === totalPages.length" (click)="goToNextPage()">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>

