<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand logo-container" routerLink="/">
      <img src="assests/Manify.svg" alt="Manify Logo" class="logo" />
    </a>

    <!-- Toggle Button for Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto gap-lg-5">
        <li class="nav-item">
          <a 
            class="nav-link"
            routerLink="/"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link "
            routerLink="/about"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shop"
            routerLinkActive="router-link-active"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact</a
          >
        </li>
      </ul>

      <!-- Cart, Login/Signup -->
      <div class="d-flex align-items-center gap-4">
        <!-- Cart -->
        <button routerLink="/cart" class="btn cart-btn" title="View Cart">
          <img
            width="30"
            height="30"
            src="https://img.icons8.com/ios-glyphs/30/shopping-cart--v1.png"
            alt="shopping-cart"
          />
        </button>

        <!-- Auth Buttons -->
        <div class="auth-buttons d-flex gap-2" *ngIf="!isLoggedin">
          <button
            routerLink="auth/login"
            class="btn login_signup-btn"
            
          >
            Login
          </button>
          <button routerLink="auth/signup" class="btn login_signup-btn" >
            Sign Up
          </button>
        </div>
        <div class="auth-buttons d-flex gap-2" *ngIf="isLoggedin">

          <button style="color: black; font-size: large;" mat-button [matMenuTriggerFor]="menu">{{userName}}</button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>Profile</button> -->
            <button routerLink="admin" mat-menu-item>Dashboard</button>
            <button routerLink="orders" mat-menu-item>Orders</button>
            <button (click)="logout()" mat-menu-item>Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</nav>
