@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.heading{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 3em;
  font-style: normal;
}