<!-- Toast Message -->
<div *ngIf="showMessage" class="toast-message">
  {{ message }}
</div>

<!-- Product Cards Container -->
<div class="product-grid row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let product of paginatedProducts">
    <div class="card h-100 shadow-sm product-card" (click)="goToProductPage(product)">
      <div class="image-wrapper">
        <img
          [src]="product.images[0]"
          alt="Product Image"
          class="card-img-top product-image"
        />
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title" [title]="product.name">{{ product.name }}</h5>
        <p class="card-description">{{ product.description }}</p>
        <p class="card-price">${{ product.price }}</p>
      </div>
      <div class="card-footer text-center">
        <button (click)="AddToCart(product); $event.stopPropagation()" class="cart-button">
          <img width="30" height="30"
               src="https://img.icons8.com/ios-glyphs/30/shopping-cart--v1.png"
               alt="Add to Cart" />
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<nav class="mt-4 text-center">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="page === 1" (click)="goToPreviousPage()">
      <a class="page-link">Previous</a>
    </li>
    <li
      class="page-item"
      *ngFor="let p of totalPages"
      [class.active]="p === page"
      (click)="page = p">
      <a class="page-link">{{ p }}</a>
    </li>
    <li class="page-item" [class.disabled]="page === totalPages.length" (click)="goToNextPage()">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>
